@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #344055;
    --secondary: #485875;
    --off-white: #F2F1EE;
    --dark-gray: #515458;
    --light-gray: #888484;
    --tertiary: #D9D9D9
}

#summarization-type-label,
#generate-flashcards-label {
    color: #344055;
    font-weight: 600;
}

.user-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-options-1, 
.user-options-2 {
    margin: 0px 40px;
}

.section-break {
    background: rgba(70, 67, 67, 0.80);
}