@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #344055;
    --secondary: #485875;
    --off-white: #F2F1EE;
    --dark-gray: #515458;
    --light-gray: #888484;
    --tertiary: #D9D9D9
}

.upload-slides-title {
    color: var(--dark-gray);
    font-size: 35px;
    font-weight: 700;
}

.upload-slides-subtitle {
    color: var(--light-gray);
    font-size: 18px;
    text-align: center;
}

.upload-file-icon {
    font-size: 25px;
    color: var(--primary);
    margin-right: 10px;
    margin-left: 10px;
}

.enter-notes-icon {
    font-size: 25px;
    color: var(--primary);
    margin-left: 10px;
    margin-right: 10px;
}

.text-field {
    width: 100vh;
    background-color: #F2F1EE;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.upload-button, 
.enter-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.lorem-ipsum {
    margin: 20px 100px;
    font-weight: 400;
}

.blurred-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(7px);
  user-select: none;
}

.create-acc-suggestion {
    margin-top: 30px;
    border-radius: 10px;
    background: var(--primary);
    height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.want-to-read-more {
    color: var(--off-white);
    font-weight: 500;
}

.want-to-read-more-p {
    text-align: center;
    color: var(--off-white);
    font-weight: 300;
}

@media screen and (max-width: 640px) {    
    .create-acc-suggestion {
        height: 30vh;
    }
}